.aTitle {
  padding-top: 15px;
  padding-bottom: 15px;
}
.aTitle a{
	color: black;
}
.text p{
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 200;
}
.video{
	height:200px;
	width: 300px;
}
.titleImage{
	width: 250px;
	height: 200px;
}
.characterImage{
	width: 125px;
	height: 145px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.backToTop{
	font-size:14px;
}
#inline{
	display:inline;
	font-size:24px;
}
.bottom-shadow, .bottom-shadow-med {
	background-color: #fff;
}

.bottom-shadow {
	-webkit-box-shadow: 0 8px 8px -4px #333333;
	   -moz-box-shadow: 0 8px 8px -4px #333333;
	        box-shadow: 0 8px 8px -4px #333333;

}

.bottom-shadow-med {
	-webkit-box-shadow: 0 8px 8px -2px #333333;
	   -moz-box-shadow: 0 8px 8px -2px #333333;
	        box-shadow: 0 8px 8px -2px #333333;
}