.aTitle {
  padding-top: 15px;
  padding-bottom: 15px;
}
.aTitle a{
	color: black;
}
.text p{
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 200;
}
.video{
	padding: 15px;
	height:200px;
	width: 300px;
}
.titleImage{
	width: 250px;
	height: 200px;
}
.characterImage{
	width: 125px;
	height: 145px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.backToTop{
	font-size:14px;
}
#inline{
	display:inline;
	font-size:24px;
}